.claws {
  position: fixed;
  z-index: 90;
  top: 25vh;
  right: 100%;
  width: calc(max(20vw, 100px) * 2.3315);
  height: max(20vw, 100px);
  user-select: none;
  pointer-events: none;
  background-image: url("../images/claws.png");
  background-image: image-set(
      url("../images/claws.webp") 1x,
      url("../images/claws.png") 1x);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  touch-action: none;
}
