@use "../../../variables" as *;

$width: 70px; // ширина переключателя
$height: 30px; // высота переключателя
$thumb-indent: 4px; // отступ между ползунком и краем переключателя (лучше чётные значения)

$thumb-color: $g-dark; // цвет ползунка
$bg-color-active: $g-green; // цвет фона переключателя, когда он активен
$bg-color-disable: $g-light; // цвет фона переключателя, когда он не активен

$switch-duration: $animation-duration; // продолжительность анимации переключения

.switcher {
  display: block;
  width: $width;
  height: $height;

  &__control {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color $switch-duration ease;
    border-radius: 150px;
    background-color: $bg-color-disable;

    &::before {
      position: absolute;
      top: calc($thumb-indent / 2);
      right: calc($thumb-indent / 2);
      width: calc($height - $thumb-indent);
      height: calc($height - $thumb-indent);
      content: "";
      transition: transform $switch-duration ease, opacity $switch-duration ease;
      border-radius: 50%;
      background-color: $thumb-color;
      transform: translateX(calc(($width * -1) + $height));
    }

    &:hover::before {
      opacity: 0.8;
    }
  }

  &__input:checked ~ &__control {
    background-color: $bg-color-active;

    &::before {
      transform: translateX(0);
    }
  }

  &:focus-within &__control::before {
    opacity: 0.8;
  }

  &__input:disabled + &__control {
    cursor: auto;
    opacity: 0.3;
  }
}
