@use "../../../variables" as *;

$burger-width: 30px;
$burger-height: 20px;
$burger-elem-thickness: 3px;
$burger-transition: 0.3s;
$burger-hover-color: $g-green;

.burger {
  position: absolute;
  z-index: 10;
  width: $burger-width;
  height: $burger-height;
  padding: 0;
  cursor: pointer;
  transition: opacity $animation-duration ease;
  border: none;
  background: none;
  
  &::before,
  &::after {
    position: absolute;
    right: 0;
    left: 0;
    height: $burger-elem-thickness;
    content: "";
    transition: transform $burger-transition ease, background-color $animation-duration ease;
    border-radius: 3px;
    background-color: $g-light;
  }
  
  &::before {
    top: 0;
  }
  
  &::after {
    bottom: 0;
  }
  
  &__item {
    z-index: -1;
    display: block;
    width: 100%;
    height: $burger-elem-thickness;
    transition: opacity $burger-transition ease, background-color $animation-duration ease, transform 0.3s ease;
    border-radius: 3px;
    background-color: $g-light;
  }
  
  &--active .burger__item {
    transform: scale(0);
    transform-origin: 0 50%;
    opacity: 0;
  }
  
  &--active::before {
    transform: translateY($burger-height * 0.45 - 1) rotate(-45deg);
  }
  
  &--active::after {
    transform: translateY($burger-height * -0.45 + 1) rotate(45deg);
  }
  
  &:hover &__item, &:hover.burger::before, &:hover.burger::after,
  &:focus-visible &__item, &:focus-visible.burger::before, &:focus-visible.burger::after {
    background-color: $burger-hover-color;
  }
  
  @supports not selector(:focus-visible) {
    &:focus &__item, &:focus.burger::before, &:focus.burger::after {
      background-color: $burger-hover-color;
    }
  }
}