.parallax {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  perspective: 1px;

  &__layer {
    position: absolute;
    pointer-events: none;
    inset: 0;

    &--back {
      top: 113vh;
      min-height: 175vh;
      transform: translateZ(-3px) scale(4);
    }

    &--middle {
      top: 100vh;
      min-height: 200vh;
      transform: translateZ(-2px) scale(3);
    }

    &--front {
      min-height: 400vh;
      transform: translateZ(0);
    }

    & > * {
      pointer-events: auto;
    }
  }
}
