@use "../../variables" as *;

.cat {
  position: fixed;
  z-index: 70;
  top: 25vh;
  left: -36%;
  width: calc(max(20vw, 100px) * 2.2875);
  height: max(20vw, 100px);
  user-select: none;
  background-image: url("../images/cat.png");
  background-image: image-set(
      url("../images/cat.webp") 1x,
      url("../images/cat.png") 1x);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  touch-action: none;

  &--slow {
    transition: transform 1s linear;
  }

  &--animated {
    animation-name: tail-shake;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }

  &__touch-box {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 15%;
    height: max(5.5vw, 30px);
    cursor: pointer;
    transform: translateY(-50%);
  }

  @media (max-width: $tablet-width) {
    left: min(-36%, -178px);
  }
}
