@use "../variables" as *;

.about-page {
  margin: 0;
  padding: 0;

  &__main {
    margin: 0;
  }

  &__header {
    background: #141414;
  }

  &__layer {
    width: 100%;
    padding-top: 90px;

    &--back {
      background-image: url("../images/moon.png");
      background-image: image-set(
          url("../images/moon.webp") 1x,
          url("../images/moon.png") 1x);
      background-repeat: no-repeat;
      background-position: calc(100% - 20px) calc(100% - 50px);
      background-size: 13vh;
    }
  }

  &__star {
    position: absolute;

    &--first {
      top: 47%;
      left: 12%;

      .about-page__star-wrapper {
        width: 50px;
        opacity: 0.8;
      }
    }

    &--second {
      top: 51%;
      right: 13%;

      .about-page__star-wrapper {
        width: 40px;
        opacity: 0.7;
      }
    }

    &--third {
      top: 75%;
      right: 35%;

      .about-page__star-wrapper {
        width: 50px;
        opacity: 0.9;
      }
    }
  }

  &__star-image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10vh;
    gap: 30px;

    @media (max-width: $tablet-width) {
      flex-direction: column;
      padding-top: 0;
      gap: 15px;
    }
  }

  &__title {
    font-size: 10vh;
    flex: 1;
    margin: 1.5em 0 0;
    color: $g-light;

    @media (max-width: $tablet-width) {
      margin: 0.5em 0 0;
    }
  }

  &__photo-wrapper {
    position: relative;
    overflow: hidden;
    flex: 1;
    max-width: 450px;
    margin-left: auto;
    padding: 10px;
    border: 3px solid $g-green;
    border-radius: 5px;
    background: $g-dark;
    box-shadow: 0 0 15px 15px $g-dark;
    touch-action: none;
  }

  &__photo-bg {
    width: 100%;
    touch-action: none;
  }

  &__image-bg {
    display: block;
    width: 100%;
    height: auto;
    user-select: none;
    touch-action: none;
  }

  &__photo {
    position: absolute;
    bottom: -17px;
    left: 10px;
    touch-action: none;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    user-select: none;
    touch-action: none;
  }

  &__content {
    font-size: max(min(2vw, 20px), 14px);
    line-height: 1.5;
    display: grid;
    margin-top: 50vh;
    color: $g-light;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: $tablet-width) {
      margin-top: 35vh;
    }

    @media (max-width: $mobile-width) {
      margin-top: 30vh;
    }
  }

  &__content-text {
    &:nth-child(1) {
      grid-column: 1/-1;
    }

    &:nth-child(2) {
      grid-column: -1/-4;
    }

    &:nth-child(3) {
      grid-column: 1/4;
    }

    u {
      padding: 1px;
      text-decoration: none;
      border: 1px dotted $g-light;
      border-radius: 5px;
    }

    a {
      padding-bottom: 1px;
      transition: color $animation-duration ease, border $animation-duration ease;
      text-decoration: none;
      color: #32b072;
      border-bottom: 0.5px dashed #32b072;

      &:hover, &:focus {
        color: $g-green;
        border-bottom-style: solid;
        border-bottom-color: $g-green;
      }

      &:active {
        opacity: $down-opacity;
      }
    }
  }
}
