@use "../variables" as *;

.intro-page {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15vh;
  height: 100vh;
  
  &__inner {
    position: relative;
    min-width: 400px;
    animation: jumping 7s ease-in-out infinite;
  }
  
  &__dialog {
    font-weight: 700;
    position: absolute;
    top: -15%;
    left: 60%;
    max-width: 250px;
    padding: 20px;
    transition: transform 0.5s ease-out;
    transform: translateY(-300%);
    text-align: center;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 15px 0 $shadow-color;
    
    &:before {
      position: absolute;
      top: 100%;
      left: 30px;
      display: block;
      content: "";
      border: 20px solid transparent;
      border-top: 20px solid rgba(255, 255, 255, 0.5);
      border-left: 5px solid transparent;
      
      @media (max-width: $small-tablet-width) {
        border-right: 5px solid transparent;
        border-left: 20px solid transparent;
      }
    }
    
    &--down {
      transform: translateY(0);
    }
    
    @media (max-width: $small-tablet-width) {
      font-size: 14px;
      top: -100px;
      left: 20%;
    }
  }
  
  &__image {
    width: 100%;
    height: auto;
    user-select: none;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0 0 20px #43f59c);
  }
  
  &__link {
    position: absolute;
    bottom: 35%;
    
    &--red {
      left: 15%;
    }
    
    &--blue {
      right: 15%;
    }
  }
}

@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(4%);
  }
  
  100% {
    transform: translateY(0);
  }
}