@use "../variables" as *;

.page {
  font-family: $font-roboto;
  font-size: min(max(1rem, 16px), 18px);
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  color: $primary-font-color;
  background-color: $g-dark;
  
  &__main {
    margin-top: 90px;
  }
  
  &__title {
    font-size: min(max(4rem, 40px), 80px);
    position: relative;
    margin: 0;
    padding: 2em 0 2em 30%;
    color: $g-light;
  }
}